@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #020617;
        /* slate-950 */
        color: #f1f5f9;
        /* slate-100 */
    }
}

/* Custom scrollbar for trace waterfall */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}